/*---- Body Style ----*/

.body-boxed {
	@media screen and (min-width: 1650px) {
		padding: 40px;
		@include background-gradient(#7e5bef,#5f45eb);

		.row-border {
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 40px;
				left: 40px;
				bottom: 0;
				z-index: 1;
				height: 100%;
				display: block;
				z-index: 1;
				border: 10px solid darken($primary_color,5%);
			}
		}
	}

	.wrap-boxed {
		background-color: #fff;
		border-radius: 12px;
		overflow: hidden;
	}
}

.site-content {
	padding: 100px 0;
}

@media screen and (min-width: 1200px) {

    .vc_row.width-bootstrap {
    	width: 1170px;
    	margin: 0 auto;
        z-index: 2;
    }
}

@media screen and (min-width: 1520px) {
	.width-fill[data-vc-stretch-content="true"] {

		.column-fill .vc_column-inner {
			max-width: 1550px;
			margin: 0 auto;
		}
	}
}

.row-gradient-color {
	position: relative;

	.gradient-color {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
}

.row-overlay-color {
	position: relative;

	.cms-overlay-color {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

/*---- Loading Page ----*/

#book-junky-loadding {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 9999;
	transition: all 0.5s ease 0s;
	background-color: #fff;

	&.show {
		opacity: 1;
		visibility: visible;
	}

	.wrap-loading {
	  	position: absolute;
	  	top: 50%;
	  	left: 50%;
	  	transform: translate(-50%, -50%);
	}

	.text {
	  	color: $primary_color;
	  	display: inline-block;
	  	margin-left: 5px;
	}

	.bounceball {
	  	position: relative;
	  	display: inline-block;
	  	height: 37px;
	  	width: 15px;

	  	&:before {
		    position: absolute;
		    content: '';
		    display: block;
		    top: 0;
		    width: 15px;
		    height: 15px;
		    border-radius: 50%;
		    background-color: $primary_color;
		    transform-origin: 50%;
		    animation: bounce 500ms alternate infinite ease;
		}
	}
}

@keyframes bounce {
  	0% {
    	top: 30px;
	    height: 5px;
	    border-radius: 60px 60px 20px 20px;
	    transform: scaleX(2);
  	}
  	35% {
	    height: 15px;
	    border-radius: 50%;
	    transform: scaleX(1);
  	}
  	100% {
    	top: 0;
  	}
}

/*---- Back To Top ----*/

.book-junky-back-to-top {
	position: fixed;
	bottom: -80px;
	right: 60px;
	background-color: $primary_color;
	width: 60px;
	height: 60px;
	display: inline-block;
	border-radius: 100%;
	text-align: center;
	z-index: 99;
	border: 2px solid $primary_color;
	opacity: 1;
	visibility: visible;
	transition: all 0.5s ease 0s;

	i {
		color: #fff;
		font-size: 34px;
		line-height: 55px;
		transition: all 0.3s ease 0s;
	}

	&:hover {
		cursor: pointer;
		background-color: #fff;

		i {
			color: $primary_color;
			animation: BackToTop 0.5s ease 0s infinite;
		}
	}

	&.scroll-down {
		bottom: -80px;
	}

	&.scroll-up {
		bottom: 80px;
	}
}

@keyframes BackToTop {
    50% {
    	transform: translatey(-5px);
  	}
  	100% {
    	transform: translatey(0px);
  	}
}

@-webkit-keyframes BackToTop {
	50% {
    	transform: translatey(-5px);
  	}
  	100% {
    	transform: translatey(0px);
  	}
}

@-moz-keyframes BackToTop {
	50% {
    	transform: translatey(-5px);
  	}
  	100% {
    	transform: translatey(0px);
  	}
}

@-o-keyframes BackToTop {
	50% {
    	transform: translatey(-5px);
  	}
  	100% {
    	transform: translatey(0px);
  	}
}

/*---- Footer Style ----*/

.site-footer {
	#footer-bottom {
		background-color: #f9fafc;
		border-top: 1px solid #e5e6ea;
		padding-bottom: 24px;
		padding-top: 16px;

		p {
			color: #888a92;
			font-size: 14px;
			letter-spacing: 0.03em;
			font-family: "averta-semibold";
			margin-bottom: 0;
		}

		@media screen and (max-width: 991px) {
			text-align: center;
		}
	}

	#footer-top {
		background-color: #fff;
		border-top: 1px solid #e5e6ea;
		padding-top: 58px;
		padding-bottom: 40px;
		overflow: hidden;

		.wg-ft-title {
			font-size: 15px;
			font-family: "averta-bold";
			color: #0f120b;
			letter-spacing: 0.03em;
		}

		@media screen and (min-width: 1200px) {
			.wrap-about:before {
				content: '';
				height: 1000px;
				width: 1px;
				position: absolute;
				top: 40px;
				right: 20px;
				top: -18px;
				background-color: #e5e6ea;
			}
		}

		@media screen and (max-width: 991px) {
			text-align: center;

			.widget-footer {
				margin: 30px auto;
			}
		}
	}

	.footer-about {
		max-width: 310px;

		.logo-footer {
			margin-bottom: 28px;
		}

		p {
			color: rgba(0,0,0,0.68);
			font-size: 14px;
			letter-spacing: 0.03em;
			font-family: "averta-regular";
			margin-bottom: 30px;
		}

		li {
			display: inline-block;
			margin-right: 24px;
			margin-bottom: 10px;

			&:last-child {
				margin-right: 0;
			}

			img {
				max-width: 20px;
				margin-top: -10px;
			}
		}

		i {
			font-size: 25px;
			transition: all 0.3s ease 0s;

			&.zmdi-facebook-box {
				color: #3b5998;
			}

			&.zmdi-twitter-box {
				color: #00aced;
			}

			&.zmdi-linkedin-box {
				color: #0077B5;
			}

			&.zmdi-google-plus-box {
				color: #DC4E41;
			}

			&.zmdi-skype {
				color: #00AFF0;
			}

			&.zmdi-pinterest-box {
				color: #BD081C;
			}

			&.zmdi-youtube-play {
				color: #E52D27;
			}

			&.zmdi-tumblr {
				color: #34465D;
			}

			&:hover,
			&:focus {
				color: $primary_color;
			}
		}

		@media screen and (max-width: 991px) {
			max-width: 500px;
			margin: 0 auto;
		}
	}
}

/*---- Page Title ----*/

.page-title {
	background-color: #59349e;

	h1 {
		color: #fff;
		font-size: 52px;
		font-family: 'averta-bold';
	}

	p {
		font-size: 16px;
		font-family: "averta-regular";
		color: #fff;
	}

	&#page-title-1 {
		padding-bottom: 75px;
		padding-top: 73px;	

		h1 {
			margin: 0;

			@media screen and (max-width: 767px) {
				font-style: 28px;
			}
		}
	}

	&#page-title-2 {
		padding-top: 55px;
		padding-bottom: 50px;

		h1 {
			margin-bottom: 8px;
		}
	}
}

.page-title-product {
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 55px;
	padding-bottom: 45px;

	@media screen and (min-width: 1200px) {
		.row {
			padding-left: 100px;
		}
	}

	.wrap-thumbnail {
		width: 220px;
		border-radius: 5px;
		overflow: hidden;
		float: left;

		@media screen and (max-width: 767px) {
			text-align: center;
			float: none;
			margin: 0 auto 30px;
		}
	}

	.wrap-content {
		width: calc(100% - 220px);
		float: left;
		padding-top: 4px;
		padding-left: 150px;

		@media screen and (max-width: 991px) {
			padding-left: 50px;
		}

		@media screen and (max-width: 767px) {
			width: auto;
			padding-top: 0;
			padding-left: 0;
		}
	}

	h5 {
		font-family: "averta-semibold";
		font-size: 22px;
		color: #fff;
		letter-spacing: 0.01em;
		margin-bottom: 40px;
	}

	h4 {
		font-family: "averta-bold";
		font-size: 42px;
		color: #fff;
		margin-bottom: 12px;
	}

	p {
		font-family: "averta-regular";
		font-size: 15px;
		color: #fff;
		margin-bottom: 28px;
	}

	.woocommerce {
		margin-bottom: 6px;

		.woocommerce-product-rating .star-rating {
			margin: 5px 10px 0 0;
			height: 15px;
			color: $primary_color;

			&:before {
				color: $primary_color;
			}
		}
	}

	.bj-rating-counts {
		font-size: 11px;
		color: #fbeded;
		font-family: "averta-regular";
	}

	a {
		font-family: "averta-semibold";
		font-size: 15px;
		border-radius: 6px;
		background-color: $primary_color;
		height: 44px;
		display: inline-block;
		padding: 0 30px;
		line-height: 40px;
		color: #fff;
		box-shadow: 0 5px 15px rgba(0,0,0,0.25);
		border: 2px solid $primary_color;

		&:hover {
			background-color: #fff;
			color: $primary_color;
		}
	}
}

.page-title-product_2 {
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 59px;

	@media screen and (max-width: 991px) {
		padding-bottom: 50px;
	}

	@media screen and (min-width: 1520px) {
		.wrap-title-product {
			margin-right: -100px;
			padding-left: 100px;
		}
	}

	.wrap-thumbnail {
		width: 300px;
		border-radius: 6px;
		overflow: hidden;
		float: left;
		margin-bottom: -50px;

		@media screen and (max-width: 991px) {
			margin-bottom: 0;
		}

		@media screen and (max-width: 767px) {
			margin: 0 auto;
			float: none;
			text-align: center;
		}
	}

	.wrap-content {
		width: calc(100% - 300px);
		float: left;
		padding-top: 35px;
		padding-left: 70px;

		@media screen and (max-width: 767px) {
			width: auto;
			float: none;
			padding-left: 0;
		}
	}

	.author {
		padding-left: 50px;
		line-height: 37px;
		margin-bottom: 40px;
		position: relative;

		a {
			color: rgba(255,255,255,0.89);
			font-family: "averta-regular";
			font-size: 16px;
		}

		img {
			width: 37px;
			height: 37px;
			border-radius: 100%;
			left: 0;
			box-shadow: 0 10px 25px rgba(0,0,0,0.3);
			position: absolute;
		}
	}

	h5 {
		font-family: "averta-semibold";
		font-size: 42px;
		color: #fff;
		letter-spacing: 0.01em;
		margin-bottom: 33px;

		@media screen and (max-width: 767px) {
			text-align: center;
		}
	}

	h4 {
		font-family: "averta-bold";
		font-size: 42px;
		color: #fff;
		margin-bottom: 12px;
	}

	p {
		font-family: "averta-regular";
		font-size: 15px;
		color: #fff;
		margin-bottom: 28px;
	}

	.woocommerce {
		margin-bottom: 6px;

		.woocommerce-product-rating .star-rating {
			margin: 5px 10px 0 0;
			height: 15px;
			color: $primary_color;

			&:before {
				color: $primary_color;
			}
		}
	}

	.bj-rating-counts {
		font-size: 11px;
		color: #fbeded;
		font-family: "averta-regular";
	}

	a.re-view {
		font-family: "averta-semibold";
		font-size: 15px;
		border-radius: 6px;
		background-color: $primary_color;
		height: 44px;
		display: inline-block;
		padding: 0 30px;
		line-height: 40px;
		color: #fff;
		box-shadow: 0 5px 15px rgba(0,0,0,0.25);
		border: 2px solid $primary_color;

		&:hover {
			background-color: #fff;
			color: $primary_color;
		}
	}
}

.mymaps-area-1 {
	border-left: 1px solid #e5e6ea;
}

/*---- Contact Form ----*/

.wpcf7-form {
	padding-bottom: 64px;
}

.wpcf7-response-output {
	text-align: center;
}

.wpcf7-form-control-wrap {
	text-align: left;
}

.contact-form {
	text-align: center;

	h5 {
		color: $primary_color;
		font-size: 32px;
		font-family: "averta-semibold";
		margin-bottom: 7px;
	}

	span {
		font-family: "averta-semibold";
		font-size: 14px;
		color: rgba(15,18,11,0.68);
	}

	p {
		margin-bottom: 33px;
	}

	input[type='email'],
	input[type='text'] {
		height: 44px;
		line-height: 42px;
		padding: 0 30px !important;
	}

	textarea {
		height: 124px;
		padding: 15px 30px 0;
	}

	input[type='email'],
	input[type='text'],
	textarea {
		border: 1px solid #e5e6ea;
		width: 100%;
		margin-bottom: 10px;
		background-color: #fff;

		&::-webkit-input-placeholder {color: rgba(136,138,146,0.48);font-size: 15px;opacity: 1;font-family: "averta-bold";}
		&::-moz-placeholder {color: rgba(136,138,146,0.48);font-size: 15px;opacity: 1;font-family: "averta-bold";}
		&:-moz-placeholder {color: rgba(136,138,146,0.48);font-size: 15px;opacity: 1;font-family: "averta-bold";}
		&:-ms-input-placeholder {color: rgba(136,138,146,0.48);font-size: 15px;opacity: 1;font-family: "averta-bold";}
	
		&:hover,
		&:focus {
			border-color: $primary_color !important;
		}
	}

	input[type='submit'] {
		color: #fff;
		font-size: 15px;
		font-family: "averta-bold";
		border: 2px solid $primary_color;
		background-color: $primary_color;
		height: 44px;
		margin-top: 20px;
		line-height: 40px;
		padding-left: 130px;
		padding-right: 130px;
		border-radius: 5px;
		box-shadow: 0 5px 15px rgba(0,0,0,0.25);
		@include transition(all 0.3s ease 0s);

		&:hover {
			background-color: #fff;
			color: $primary_color;
		}

		@media screen and (max-width: 599px) {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.edit-page .edit-link {
    margin: 10px 0;
    display: inline-block;
    
    a {
        background-color: $primary_color;
        color: #fff;
        display: inline-block;
        border-radius: 5px;
        padding: 5px 20px 3px;
        margin: 10px 0;
        border: 2px solid $primary_color;

        &:hover,
        &:focus {
            color: $primary_color;
            background-color: #fff;
        }
    }
}


/*---- Form Login ----*/

body {
	.cover_modal {
		padding: 0 !important;
	}

	.login_dialog {
		max-width: 500px;
		padding: 30px !important;
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translatey(-50%);

		h2 {
			margin-top: 0;
		}

		input[type="text"], 
		input[type="password"], 
		input[type="email"] {
			border-radius: 6px;
			height: 40px;

			&::-webkit-input-placeholder {color: rgba(68,68,68,0.68);
				letter-spacing: 0.05em;font-size: 14px;font-family: "averta-regular";opacity: 1;font-style: italic;}
			&::-moz-placeholder {color: rgba(68,68,68,0.68);
				letter-spacing: 0.05em;font-size: 14px;font-family: "averta-regular";opacity: 1;font-style: italic;}
			&:-moz-placeholder {color: rgba(68,68,68,0.68);
				letter-spacing: 0.05em;font-size: 14px;font-family: "averta-regular";opacity: 1;font-style: italic;}
			&:-ms-input-placeholder {color: rgba(68,68,68,0.68);
				letter-spacing: 0.05em;font-size: 14px;font-family: "averta-regular";opacity: 1;font-style: italic;}
		}

		input[type='submit'] {
			font-family: "averta-semibold";
			font-size: 15px;
			border-radius: 6px;
			background-color: $primary_color;
			height: 44px;
			font-weight: 400;
			display: inline-block;
			padding: 0 40px;
			text-transform: uppercase;
			margin-top: 15px;
			line-height: 40px;
			color: #fff;
			box-shadow: 0 5px 15px rgba(0,0,0,0.25);
			border: 2px solid $primary_color;
			transition: all 0.3s ease 0s;

			&:hover {
				background-color: #fff;
				color: $primary_color;
			}
		}
	}
}

/*---- Page Author ----*/

.page-title-author {
	.wrap-backround {
		height: 236px;
		background-size: cover;
		background-position: center center;
	}

	.wrap-content {
		text-align: center;
		max-width: 975px;
		margin: 0 auto;

		@media screen and (max-width: 991px) {
			padding: 0 15px;
		}
	}

	.avatar {
		width: 91px;
		height: 91px;
		overflow: hidden;
		border-radius: 100%;
		margin: -45px auto 25px;

		img {
			width: 100%;
		}
	}

	.name-author {
		color: #040304;
		font-size: 42px;
		font-family: 'averta-bold';
		letter-spacing: 0.03em;
		margin-bottom: 31px;
	}

	.des-author {
		color: #040304;
		font-style: 16px;
		font-family: 'averta-regular';
		letter-spacing: 0.03em;
	}

	.share {
		padding-top: 33px;
		margin-bottom: 40px;
		
		.title-share {
			font-size: 15px;
			color: #888a92;
			margin-bottom: 22px;
			font-family: 'averta-semibold';
		}

		li {
			display: inline-block;
			margin: 0 8px;
		}

		a {
			height: 34px;
			width: 34px;
			line-height: 38px;
			display: inline-block;
			color: #fff;
			border-radius: 100%;
			border: 1px solid $primary_color;
			background-color: $primary_color;

			i {
				font-size: 19px;
			}

			&:hover {
				color: $primary_color;
				background-color: #fff;
			}
		}
	}
}







































